body {
	font-family: Tahoma, Verdana, Helvetica, Arial;
    font-size: 18px;
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 1em;
}

header {
    padding: 10px 0 50px;
}

header h1 {
    text-align: center;
}

ol {
    margin: 0;
    padding: 0;
}

ol.gallery {
    overflow-x: scroll;
}

ol li {
    list-style-type: none;
    display: flex;
    align-items:center;
}

ol li img {
    padding-right: 1em;
    vertical-align: middle;
}

main {
    min-height: 600px;
}

footer {
    padding: 1em 0;
}
